{
  "profiles": [
    {
      "name": "Default profile",
      "selected": true,
      "simple_modifications": [
        {
          "input_source_identifier": "",
          "from": {
            "key_code": "fn"
          },
          "to": [
            {
              "key_code": "left_control"
            }
          ]
        },
        {
          "input_source_identifier": "",
          "from": {
            "key_code": "left_control"
          },
          "to": [
            {
              "key_code": "fn"
            }
          ]
        }
      ]
    }
  ]
}